<div class="card">
  <%= link_to image_tag(building.image, class: :card__img ), building_path(building)%>
  <div class="card__body">
    <%= link_to building.buildings_name, building_path(building), class: :card__buildings_name %>

  </div>
</div>